/* iPhone SE (1st gen and 3rd gen) - 320px */
@media (max-width: 320px) {

}

/* iPhone 6/7/8 + SE (2nd gen) - 375px */
@media (max-width: 375px) {
  
    .top-header{
        /* padding: px; */
    }
 .social-media-icons{
    justify-content: start;
    padding: 0px 10px;
 }

 .top-contents{
    width: 100%;
 }
 .main-logo img{
    width: 60px;
 }
 .main-logo{
    height: auto;
 }

 .mail-link{
    padding: 0px 20px ;
 }
 .social-media-links ul li{
    width: 20px;
    height: 20px;
 }

 .bottom-header{
    width: 90%;
 }
 .top-header{
    padding: 0px 0px 16px 0px;
 }

 .bottom-header .sticky{
    width: 100%;
 }


.banner-content h1{
    font-size: 34px;
}
.banner-content h2{
    font-size: 20px;
}

.home-banner-carousel .owl-prev{
    width: 30px;
    height: 30px;
}



.home-banner-carousel .owl-next{
    width: 30px;
    height: 30px;
}

.home-banner-carousel .owl-prev i{
 font-size: 14px;
}



.home-banner-carousel .owl-next i{
   font-size: 14px;
}


.banner-content p{font-size: 12px;}

.button-50{
    font-size: 12px;
}
.service-image img{

    padding-right: 0px;
    margin: 30px 0px 30px 0px;
}

.service-contents{
    padding-right: 0px;
}

.service-contents h1{
    margin-bottom: 10px;
    font-size: 30px;
}
.service-contents p{
    font-size: 12px;
}
.padding-div{
    padding-top: 30px;
}

.service-icon{
    width: 100%;
}
.service-head{
    margin-right: 0px;
    margin-bottom: 0px;
}

.service-head h1{
    font-size: 18px;
}
.service-head p{
    font-size: 12px;
}
.feature-content-image img:nth-child(1){
    width: 200px;
    height: 250px;
}
.feature-content-image img:nth-child(2){
    left: 80px;
    width: 200px;
    height: 250px;
}
.feature-content-image{
   min-height: 420px;
}
}

/* iPhone 6/7/8 Plus - 414px */
@media (min-width: 414px) {
 
}

/* iPhone 12 Pro Max and larger - 428px */
@media (min-width: 428px) {
  
}

/* Tablet size and up */
@media (min-width: 768px) {
 
}

/* Desktop and up */
@media (min-width: 1024px) {
 
}
